<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10+Charted&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body class="body">
    <div class="container">
        <div class="upbar"></div>
        <div class="logo">predictingAI</div>
        <div class="background">
            <div class="button-container" id="buttonContainer">
                <button type="button" class="category-button" data-category="sport">sport</button>
                <button type="button" class="category-button" data-category="exam">exam</button>
                <button type="button" class="category-button" data-category="study">study</button>
            </div>
            <div class="sub-button-container" id="subButtonContainer"></div>
            <div class="search-container">
                <input type="search" name="search" id="search" placeholder="Search...">
            </div>
            <div id="searchButtonContainer"></div>
        </div>
    </div>

    <script src="js/script.js"></script> <!-- Link to your JavaScript file -->
</body>
</html>
